@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ranchers';
    
}
.wrapper {
    width: 400px;
    height:600px;
    background-color: darkturquoise;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.heading{
    font-size: 3em;
}
.button button{
    font-size: 2em;
}